<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}<img class="del" src="/assets/image/eat.png">{{else}}UN-EAT{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}"><img class="del" src="/assets/image/delete.png"></button>
</li>